.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.stepper{
    background-color: transparent;
    width: 50%;
}

.step-form-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.field-container{
    display: flex;
    flex-direction: row;
}

.step-form-container.shorter{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 30%;
}

.form-field{
    flex-grow: 1;
}

.side-icon{
    margin-top: 15px;
    margin-right: 5px;
}

.picture-step{
    align-items: center;
}

.profile-picture{
    width: 30%;
    height: 30%;
}
