.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.stepper{
    background-color: transparent;
    width: 50%;
}

.step-form-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.field-container{
    display: flex;
    flex-direction: row;
}

.form-field{
    flex-grow: 1;
}

.side-icon{
    margin-top: 15px;
}